@import 'boxes', 'reset';

body {
  background-color: $dark;
  color: $light;
  position: relative
}

section, footer {
  @include flexBox;
}

h1 {
  font-size: 4em;
  font-weight: 600;
}

h2 {
  font-size: 3em;
  font-weight: 600;
}

h3 {
  font-size: 2em;
  font-weight: 600;
}

.header {
  width: 100%;
  height: 3em;
  @include flexBox($jc: space-between);
  padding: 1em 2em;
  position: absolute;
  z-index: 3;

	&__nav {
    height: 100%;
    @include flexBox;
    gap: 1em;
	}

  &__btn {
    display: none;
  }
}

.logo {
  @include flexBox;
  width: 2em;
  height: 2em;
  
	&__img {
    height: 100%;
	}


}

.menu {
  @include flexBox;
  gap: 1em;
  height: 100%;
	
	&__item {
    width: 100%;
    height: 100%;

    &:hover {
      color: $accent;
    }
	}

	&__link {
    width: 100%;
    height: 100%;
	}
}

.container {
  @include flexBox($ff: column nowrap);
  width: 90%;
  height: 100%;
  padding: 2em 0;
  gap: 2em;
}

.intro__bg, .underwater__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  filter: brightness(0.4);
  z-index: -2;
}

.intro {
  padding-top: 6em;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(#ffffff00 70%, #000124 80%);
    z-index: -1;
  }

  &__container {
    align-items: flex-start;
  }

	&__heading {
    @include flexBox($ff: column nowrap, $ai: flex-start);
    position: relative;
    margin-left: 4em;
    &::before {
      content: "";
      left: -2em;
      bottom: -1em;
      height: 1px;
      width: 50vw;
      position: absolute;
      background-color: $light;
    }
	}

	&__p {
    max-width: 20em;
	}
}

.underwater {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding-bottom: 8em;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(#000124 0%, #ffffff00 60%);
    z-index: -1;
  }

	&__h3 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 3em;
      background-color: $light;
      right: -70%;
      top: 50%;
    }
	}

	&__p {
    max-width: 40em;
    text-align: center;
	}

	&__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    height: 100%;
    gap: 2em;
	}

	&__item {
    @include flexBox($ai: flex-end);
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 3px #000000;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(#ffffff00 30%, #000000 100%);
      z-index: -1;
    }
	}

	&__img {
    height: 100%;
    object-fit: cover;
    background-color: gray;
    z-index: -2;
	}

	&__span {
    position: absolute;
    margin-bottom: 2em;
    width: 100%;
    text-align: end;
    font-size: 1.2em;
    font-weight: 900;
    padding: 0 1em 0 0;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 6em;
      background-color: $light;
      right: 0;
      bottom: -.5em;
    }
	}
}

.cta {
  @include flexBox;
  height: 100%;
  color: $accent;
  z-index: 1;

	&__span {
    width: 100%;
	}

	&__icon {
    @include flexBox;
    height: 100%;
	}
}

.footer {
  width: 100%;
  height: 4em;
  position: absolute;
  bottom: 0;
  z-index: 3;
  padding-bottom: 4em;

	&__list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1em;
	}

	&__item {
    @include flexBox;
    height: 100%;
	}

	&__copy {
    height: 100%;
    text-align: center;
	}
}

@media (max-width: 420px) {

  .header__nav .menu {
    display: none;
  }

  .header__menu--login {
    display: none;
  }

  .header {
    height: 3em;
    padding: 1em;
    background-color: #000124;

    &__nav {
      width: 100%;
      justify-content: space-between;
      font-weight: 600;
    }

    &__btn {
      @include flexBox;
      width: 2em;
      height: 2em;
    }

    #close {
      display: none;
    }
  }

  .active .header__nav .menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    z-index: 4;
    width: 30%;
    height: 10em;
    padding: 1em;
    top: 3em;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #000124;


    &__item {
      @include flexBox;
      text-align: end;
      width: 100%;
      height: 100%;
    }

  }

  .active .header__btn #open {
    display: none;
  }

  .active .header__btn #close {
    display: block;
  }

  #open, #close {
    height: 100%;
    width: 100%;
  }

  .intro {
    padding-top: 2em;
    &__container {
      align-items: center;
    }

    &__heading {
      margin: 0;
      &::before {
        left: 0;
      }
    }

    &__p {
      max-width: unset;
    }
  }

  .underwater {
    &__h3 {
      &::before {
        bottom: 0;
        right: 0;
        top: unset;
      }
    }

    &__list {
      grid-template-columns: 1fr;
    }

    &__item {
      height: 20em;
    }
  }

  .footer {
    &__list {
      @include flexBox($ff: column-reverse nowrap);
    }

    &__menu {
      gap: 0.3em;
      .menu__item {
        border-right: 1px solid $light;
        padding: 0 .3em;

        &:nth-child(4) {
          border: none;
        }
      }
    }
  }

}