@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Sen:wght@400;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::selection {
  background-color: #252525;
  color: #ffffff;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

button {
  cursor: pointer;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Sen", sans-serif;
  color: #252525;
}

body {
  background-color: #252525;
  color: #ffffff;
  position: relative;
}

section, footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4em;
  font-weight: 600;
}

h2 {
  font-size: 3em;
  font-weight: 600;
}

h3 {
  font-size: 2em;
  font-weight: 600;
}

.header {
  width: 100%;
  height: 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  position: absolute;
  z-index: 3;
}
.header__nav {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
}
.logo__img {
  height: 100%;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100%;
}
.menu__item {
  width: 100%;
  height: 100%;
}
.menu__item:hover {
  color: #1c64ff;
}
.menu__link {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  padding: 2em 0;
  gap: 2em;
}

.intro__bg, .underwater__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  filter: brightness(0.4);
  z-index: -2;
}

.intro {
  padding-top: 6em;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.intro::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0) 70%, #000124 80%);
  z-index: -1;
}
.intro__container {
  align-items: flex-start;
}
.intro__heading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-left: 4em;
}
.intro__heading::before {
  content: "";
  left: -2em;
  bottom: -1em;
  height: 1px;
  width: 50vw;
  position: absolute;
  background-color: #ffffff;
}
.intro__p {
  max-width: 20em;
}

.underwater {
  position: relative;
  z-index: 1;
  padding-bottom: 8em;
}
.underwater::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#000124 0%, rgba(255, 255, 255, 0) 60%);
  z-index: -1;
}
.underwater__h2 {
  position: relative;
}
.underwater__h2::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 3em;
  background-color: #ffffff;
  right: -70%;
  top: 50%;
}
.underwater__p {
  max-width: 40em;
  text-align: center;
}
.underwater__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  gap: 2em;
  height: 100%;
}
.underwater__item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 20em;
  box-shadow: 0 0 10px 3px #000000;
  z-index: 1;
}
.underwater__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0) 30%, #000000 100%);
  z-index: -1;
}
.underwater__img {
  height: 100%;
  object-fit: cover;
  background-color: gray;
  z-index: -2;
}
.underwater__span {
  position: absolute;
  margin-bottom: 2em;
  width: 100%;
  text-align: end;
  font-size: 1.2em;
  font-weight: 900;
  padding: 0 1em 0 0;
}
.underwater__span::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 6em;
  background-color: #ffffff;
  right: 0;
  bottom: -0.5em;
}

.cta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #1c64ff;
  z-index: 1;
}
.cta__span {
  width: 100%;
}
.cta__icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer {
  width: 100%;
  height: 4em;
  position: absolute;
  bottom: 0;
  z-index: 3;
  padding-bottom: 4em;
}
.footer__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
}
.footer__item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer__copy {
  height: 100%;
}

/*# sourceMappingURL=index.css.map */
